@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 100px 0;
  min-height: 100%;
  height: 100%;
}

body {
  background: linear-gradient(-45deg, 
  #5a4a7d,  /* Purple */
  #903a76,  /* Magenta */
  #414f8a,  /* Blue */
  #4b7259,  /* Dark Green */
  #7d4a5a,  /* Reddish */
  #944d81,  /* Pinkish */
  #315873,  /* Deep Blue */
  #6b5978   /* Purple-ish */
  );  background-size: 800% 800%;
  animation: gradient 120s ease-in-out infinite; /* Increased duration to 60s */
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  12.5% {
      background-position: 100% 25%;
  }
  25% {
      background-position: 0% 50%;
  }
  37.5% {
      background-position: 100% 75%;
  }
  50% {
      background-position: 0% 50%;
  }
  62.5% {
      background-position: 100% 25%;
  }
  75% {
      background-position: 0% 50%;
  }
  87.5% {
      background-position: 100% 75%;
  }
  100% {
      background-position: 0% 50%;
  }
}
