@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 100px 0;
  min-height: 100%;
  height: 100%;
}

body {
	background: linear-gradient(-45deg, #645f15, #6d1060, #0f6e91, #15866c);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}