* {
  margin: 0;
  padding: 0;

  [type="search"]::-webkit-search-cancel-button,
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
  }
} 

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

html, body { 
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f2f2f2;
  padding: 100px 0;
  min-height: 100%;
  height: 100%;

}
body {
	background: linear-gradient(-45deg, #645f15, #6d1060, #0f6e91, #15866c);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}